.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    gap: 8px;
}
.task{
    border: 1px solid black;
    width: 300px;
    height: 100px;
    margin-top: 10px;
}